header 
{
   width: 100%;
   height: 65px;
   position: absolute;
   z-index: 30;
   background-color: white;

   .menu-mobile
   {
      display: flex;
      width: inherit;
      height: inherit;
      padding: 0 25px;
      align-items: center;
      justify-content: space-between;
      
      img
      {
         width: auto;
      }

      a 
      {
         width: auto;
      }
      
      &__burger 
      {
         height: 20px;
      }
   }
}