header 
{
   width: 100%;
   height: 65px;
   position: absolute;
   z-index: 30;
   background-color: white;

   .menu-mobile
   {
      display: flex;
      width: inherit;
      height: inherit;
      padding: 0 25px;
      align-items: center;
      justify-content: space-between;
      
      img
      {
         width: auto;
      }

      a 
      {
         width: auto;
      }
      
      &__burger 
      {
         height: 20px;
      }

      .menu
      {
         position: fixed;
         z-index: 10;
         background: white;
         left: -90vw;
         top: 80px;
         width: 90vw;
         height: 42vh;
         border-radius: 10px;
         transition: 1.2s;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         list-style: none;
         
         li
         {
            padding: 12px 0;

            a 
            {
               font-size: 17.8rem;
               text-decoration: none;
               color: var(--blue-dark);
            }
         }  
      }

      .menu.is-active
      {
         left: 5vw;
      }

      button 
      {
         display: none;
      }
   }
}