main 
{
   background-image: url('../images/bg-intro-mobile.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0 5px;
   margin-bottom: 90rem;

   .digital-banking
   {
      height: 383px;

      .phones 
      {
         width: 92%;
         position: absolute;
         top: -51px;
         left: 15px;
      }
   }

   .description 
   {
      .text 
      {
         &__title
         {
            font-size: 39rem;
            font-weight: 300;
            color: #2d314d;
         }
      }
   }
}

